.hidden {
  display: none !important;
}

a {
  color: #FFFFFF;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

html, body {
  width: 100%;
  cursor: auto;
}

body {
  font-family: Futura;
  color: #FFFFFF;
  margin: 0;
  background: #636466;
  background-image: url("bluedots.png");
  background-repeat: no-repeat;
  min-width: 460px;
}

.confettiBG {
  background-color: #636466;
  background-image: none;
}

#confettiCanvas {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

header {
  background-color: #636466;
  color: #D6EEF2;
  box-shadow: 0px 5px 5px rgba(70,70,70, .4);
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}

#coupleNames {
  display: inline-block;
  font-weight: bold;
  font-family: Copperplate;
  font-size: 30px;
  padding: 15px 0 9px 15px;
}

#namesImg {
  max-width: 300px;
}

#menuToggle {
  display: none;
}

#inlineNav {
  float: right;
  line-height: 30px;
  font-variant: small-caps;
  padding: 15px 15px 9px 0;
}

#sideNav {
  display: none;
  padding: 15px;
}

.menuItem {
  display: inline;
  padding: 0 6px;
}

.menuItem.selected, 
.menuItem:hover {
  border-top: .1em solid #D6EEF2;
  border-bottom: .1em solid #D6EEF2;
  cursor: pointer;
}

main {
}

#introSect {
  max-width: 100%;
}

#celebrateText {
  font-family: Futura;
  font-size: 40px;
  color: rgb(150,150,150);
  text-align: center;
  position: absolute;
  bottom: 50px;
  width: 100%;
}

#celebrateText .cursive {
  font-style: italic;
  color: #D6EEF2;
}

#snugglePic {
  width: 100%;
  margin-top: 50px;
}

.topSection {
  margin: 50px auto;
  border-radius: 40px;
  min-height: 400px;
  max-width: 1000px;
}

.sectionTitle {
  display: inline-block;
  margin: 20px 20px 20px 10px;
  background-color: rgba(99,100,102,.8);
  font-size: 4em;
  font-variant: small-caps;
}

.sectionContent {
  line-height: 30px;
  font-size: 1em;
}

#firstMeet {
  min-width: 200px;
  width: 22%;
  float: left;
}

#firstDate, #proposal {
  min-width: 200px;
  width: 60%;
  float: left;
}

#photoStripHorizontal {
  width: 96%;
  display: inline-block;
  margin: 0 0 0 17px;
}
#photoStripHorizontal img {
  max-width: 100%;
}

.box {
  display: inline-block;
  text-align: left;
  background-color: rgb(96,97,99);
  padding: 30px;
  margin: 0 0px 15px 15px;
  border: 1px solid rgb(93, 94, 96);
  box-shadow: 4px 4px 4px rgba(70,70,70,.4);
}

.boxTitle {
  font-weight: bold;
  font-size: 1.5em;
  line-height: 45px;
  font-variant: small-caps;
}

.boxText {
  font-size: .9em;
}

#trainException {
  width: 88%;
}

.italics {
  font-style: italic;
}

#ourPlansSect {
  max-width: 750px;
}

#ourPlansSect .box {
  padding: 20px;
  min-height: 120px;
}

.photoBox {
  display: inline-block;
  margin: 0 0 15px 15px; 
}

.photoBox img {
  max-width: 100%;
  max-height: 100%
}

#photo1 {
  width: 300px;
  float: right;
}

#photo2 {
  width: 391px;
  float: right;
}

#date {
  float: right;
  width: 17%;
}

#reception {
  width: 20%;
  min-width: 200px;
}

.partyTitle {
  font-weight: bold;
  font-variant: small-caps;
}

#bridalParty {
  width: 42%;
}

#groomalParty {
  width: 42%;
  float: left;
}

.weddingPartyHeader:hover {
  text-decoration: underline;
  cursor: pointer;
}

.weddingPartyDesc {
  font-size: .85em;
  margin-bottom: 15px;
}

#train {
  width: 38%;
}

#car {
  width: 42%;
}

#stay {
  width: 60%;
}

#photoStripYourPlans {
  width: 27%;
  display: inline-block;
  float: left;
  margin: 5px 0 15px 15px;
}
#photoStripYourPlans img {
  max-width: 100%;
}

#visit {
  width: 89%;
}

#registrySect {
  max-width: 600px;
}

/* Responsive CSS */
@media only screen and (max-device-width: 786px) {
  body {
    background-image: url("bluedots.png");
    background-repeat: no-repeat;
    min-width: 100%;
  }
  
  #inlineNav {
    display: none;
  }
  
  #menuToggle {
    display: inline-block;
    float: right;
    -ms-transform: rotate(90deg);
    -webkit-transform-origin-x: rotate(90deg);
    transform: rotate(90deg);
    position: relative;
    top: 15px;
  }

  #sideNav.selected {
    display: block;
  }

  #sideNav .menuItem {
    display: block;
    padding: 6px;
  }

  #sideNav .menuItem:hover,
  #sideNav .menuItem.selected {
    border: none;
    text-decoration: underline;
  }

  #introSect, #celebrateText {
    max-width: 85%;
    padding: 60px 10px;
    margin: auto;
  }

  #coupleNames {
    max-width: 80%;
  }

  #namesImg {
    max-width: 100%;
  }
  
  #firstDate, #proposal {
    width: 100%;
    display: block;
  }
  
  #photoStripHorizontal {
    width: 90%;
  }

  .topSection {
    max-width: 100%;
    margin-top: 55px;
  }

  .box {
    display: block;
    width: auto !important;
    float: none !important;
    cursor: pointer;
    padding: 15px 30px;
    margin: 0px 10px 10px 10px;
    min-height: auto !important;
  }
  
  .box.expanded {
    padding: 30px; 
  }

  .boxText {
    display: none;
  }

  .boxText.expanded {
    display: block;
  }
  
  .photoBox {
    display: block;
    max-width: 90%;
  }

  #photo1, #photo2 {
    float: none;
  }
  
  #photoStripYourPlans {
    width: 90%;
    display: block;
    float: none;
  }
}
