.hidden {
  display: none !important;
}

a {
  color: #636466;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Futura;
  color: #636466;
  margin: 0;
  background-image: url("bluedots.png");
  background-repeat: no-repeat;
  min-width: 460px;
}

.confettiBG {
  background-color: #636466;
  background-image: none;
}

#confettiCanvas {
  width: 100%;
  height: 100%;
  position: absolute;
}

header {
  background-color: #636466;
  color: #D6EEF2;
  padding: 15px 9px 15px 15px;
  box-shadow: 0px 5px 5px rgba(70,70,70, .4);
}

#coupleNames {
  display: inline-block;
  font-weight: bold;
  font-family: Copperplate;
  font-size: 30px;
}

#namesImg {
  max-width: 300px;
}

#menuToggle {
  display: none;
}

#inlineNav {
  float: right;
  line-height: 30px;
  font-variant: small-caps;
}

#sideNav {
  display: none;
}

.menuItem {
  display: inline;
  padding: 0 6px;
}

.menuItem.selected, 
.menuItem:hover {
  border-top: .1em solid #D6EEF2;
  border-bottom: .1em solid #D6EEF2;
  cursor: pointer;
}

main {
}

#introSect {
  max-width: 90%;
  margin: 50px auto;
}

#celebrateText {
  font-family: Futura;
  font-size: 40px;
  color: rgb(150,150,150);
  text-align: center;
  margin: 250px 0;
}

#celebrateText .cursive {
  font-style: italic;
  color: #D6EEF2;
}

.topSection {
  margin: 0 auto;
  border-radius: 40px;
  min-height: 400px;
  max-width: 1000px;
}

.sectionTitle {
  display: inline-block;
  margin: 20px 20px;
  background-color: rgba(255,255,255,.8);
  font-size: 4em;
  font-variant: small-caps;
}

.sectionContent {
  background-color: rgba(255,255,255,.8);
  line-height: 30px;
  font-size: 1em;
}

#firstMeet {
  min-width: 200px;
  width: 20%;
  float: left;
}

#firstDate, #proposal {
  min-width: 200px;
  width: 60%;
  float: left;
}

.box {
  display: inline-block;
  text-align: left;
  background-color: #ffffff;
  padding: 30px;
  margin: 0 10px 10px 10px;
  box-shadow: 3px 3px 3px rgb(200,200,200);
}

.boxTitle {
  font-weight: bold;
  font-size: 1.5em;
  line-height: 45px;
  font-variant: small-caps;
}

.boxText {
  font-size: .9em;
}

#ourPlansSect {
  max-width: 750px;
}

#ourPlansSect .box {
  padding: 20px;
  min-height: 120px;
  float: left;
}

#date {
  line-height: 75px;
}

#reception {
  width: 30%;
  min-width: 250px;
}

.partyTitle {
  font-weight: bold;
  font-variant: small-caps;
}

#bridalParty {
  min-width: 40%;
}

#groomalParty {
  min-width: 40%;
}

.weddingPartyMember:hover {
  text-decoration: underline;
  cursor: pointer;
}

#train {
  width: 38%;
}

#car {
  width: 42%;
}

#stay {
  width: 89%;
}

#registrySect {
  max-width: 600px;
}

/* Responsive CSS */
@media only screen and (max-device-width: 786px) {
  body {
    background-image: url("bluedots.png");
    background-repeat: no-repeat;
    min-width: 100%;
  }
  
  #inlineNav {
    display: none;
  }
  
  #menuToggle {
    display: inline-block;
    float: right;
    -ms-transform: rotate(90deg);
    -webkit-transform-origin-x: rotate(90deg);
    transform: rotate(90deg);
  }

  #sideNav.selected {
    display: block;
  }

  #sideNav .menuItem {
    display: block;
    padding: 6px;
  }

  #sideNav .menuItem:hover,
  #sideNav .menuItem.selected {
    border: none;
    text-decoration: underline;
  }

  #introSect, #celebrateText {
    max-width: 85%;
    margin: 100px auto;
  }

  #coupleNames {
    max-width: 80%;
  }

  #namesImg {
    max-width: 100%;
  }
  
  #firstDate, #proposal {
    width: 100%;
    display: block;
  }

  .topSection {
    max-width: 100%;
  }

  .box {
    display: block;
    width: auto !important;
    float: none !important;
    cursor: pointer;
    padding: 15px 30px;
    min-height: auto !important;
  }
  
  .box.expanded {
    padding: 30px; 
  }

  .boxText {
    display: none;
  }

  .boxText.expanded {
    display: block;
  }
}
