.hidden {
  display: none;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Futura;
  color: #636466;
  margin: 0;
  background-image: url("bluedots.png");
  background-repeat: no-repeat;
  min-width: 460px;
}

.confettiBG {
  background-color: #636466;
  background-image: none;
}

#confettiCanvas {
  width: 100%;
  height: 100%;
  position: absolute;
}

header {
  background-color: #636466;
  color: #D6EEF2;
  padding: 15px 9px 15px 15px;
  box-shadow: 0px 5px 5px rgba(70,70,70, .4);
}

#coupleNames {
  display: inline-block;
  font-weight: bold;
  font-family: Copperplate;
  font-size: 30px;
}

#namesImg {
  max-width: 300px;
}

nav {
  float: right;
  line-height: 30px;
}

.menuItem {
  display: inline;
  padding: 0 6px;
}

.menuItem.selected, 
.menuItem:hover {
  border-top: .1em solid #D6EEF2;
  border-bottom: .1em solid #D6EEF2;
  cursor: pointer;
}

main {
  margin: 20px;
}

#introSect {
  max-width: 800px;
  margin: 50px auto;
}

#introImg {
  width: 100%;
}

.topSection {
  margin: 50px auto;
  padding: 20px;
  border-radius: 40px;
  min-height: 400px;
  max-width: 600px;
}

.sectionTitle {
  display: inline-block;
  margin: 20px 0;
  background-color: rgba(255,255,255,.8);
}

.sectionContent {
  background-color: rgba(255,255,255,.8);
}
